<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylegallery.css">
    <title>Document</title>
</head>
<body>
    <h1>Hachy</h1>
    <div class="images">
        <img src="../public/3.jpg" alt="">
        <img src="../public/1.jpg" alt="">
        <img src="../public/4.jpg" alt="">
        <img src="../public/5.jpg" alt="">
        <img src="../public/6.jpg" alt="">
        <img src="../public/7.jpg" alt="">
    </div>
    <div class="but">
        <a href="/homepage">Home</a>
        <a href="/about">About</a>
    </div>
</body>
</html>